# Análise e Exploração de Dados - Camada Gold

**Autor:** Marcelo Veras <br>
**Data:** 30 de Julho de 2025

## 1. Introdução

Este notebook fornece uma interface interativa para consultar e visualizar os dados no Data Warehouse (camada Gold), que foi populado pelo pipeline de ETL.

O objetivo é permitir a validação dos dados e a exploração direta do modelo relacional, sem a necessidade de um cliente de banco de dados externo. O código abaixo se conecta diretamente ao banco de dados SQL Server que está rodando no ambiente Docker e utiliza a biblioteca `pandas` para executar consultas SQL e exibir os resultados.

In [34]:
import pandas as pd
from sqlalchemy import create_engine
import urllib
import warnings

warnings.filterwarnings('ignore')

# Parâmetros da conexão
server = 'desafio_db'
database = 'DesafioDB'
username = 'sa'
password = 'CocoBambuCBLAB123@@' # IMPORTANTE: Substitua pela sua senha correta

# Prepara a string de conexão de forma segura
params = urllib.parse.quote_plus(
    f"DRIVER={{ODBC Driver 18 for SQL Server}};"
    f"SERVER={server};"
    f"DATABASE={database};"
    f"UID={username};"
    f"PWD={password};"
    f"TrustServerCertificate=yes;"
)

# Cria o "motor" de conexão do SQLAlchemy
engine = create_engine(f"mssql+pyodbc:///?odbc_connect={params}")

# --- CORREÇÃO AQUI: Força uma conexão para testar as credenciais ---
try:
    # Tenta estabelecer uma conexão real
    connection = engine.connect()
    print("✅ Conexão com o Data Warehouse (SQLAlchemy) bem-sucedida!")
    # Fecha a conexão de teste imediatamente para liberar recursos
    connection.close()
except Exception as e:
    print(f"❌ Falha na conexão: {e}")

✅ Conexão com o Data Warehouse (SQLAlchemy) bem-sucedida!

## 2. Consultas de Exemplo

Abaixo estão algumas consultas SQL de exemplo para explorar os dados carregados. Você pode executar cada célula de código para ver o resultado.

In [35]:
# Consulta 1: Visualizar os 5 primeiros pedidos na tabela principal
print("--- Tabela: Pedidos (5 primeiros registros) ---")

sql_query_pedidos = "SELECT TOP 5 * FROM Pedidos;"
df_pedidos = pd.read_sql(sql_query_pedidos, cnxn)
display(df_pedidos)

--- Tabela: Pedidos (5 primeiros registros) ---

ProgrammingError: ('ODBC SQL type -155 is not yet supported.  column-index=5  type=-155', 'HY106')

In [29]:
# Consulta 2: Listar todos os restaurantes e funcionários cadastrados
print("\n--- Tabela: Restaurantes ---")
display(pd.read_sql("SELECT * FROM Restaurantes;", cnxn))

print("\n--- Tabela: Funcionarios ---")
display(pd.read_sql("SELECT * FROM Funcionarios;", cnxn))

--- Tabela: Restaurantes ---

/tmp/ipykernel_224/1548913879.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  display(pd.read_sql("SELECT * FROM Restaurantes;", cnxn))

   restaurante_id    loc_ref
0               1   99 CB CB
1               2  777 CB CB
2               3  555 EE XX
3               4  999 DD YY
4               5  888 AA ZZ

--- Tabela: Funcionarios ---

/tmp/ipykernel_224/1548913879.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  display(pd.read_sql("SELECT * FROM Funcionarios;", cnxn))

   funcionario_id  numero_funcionario      nome_completo   cargo
0               1               55555  Funcionario 55555  Garçom
1               2               77777  Funcionario 77777  Garçom
2               3               99999  Funcionario 99999  Garçom
3               4               88888  Funcionario 88888  Garçom

In [33]:
# Consulta 3: Contar o número de pedidos por restaurante (JOIN)
print("\n--- Análise: Contagem de pedidos por restaurante ---")

sql_query_join = """
SELECT 
    r.loc_ref AS nome_restaurante,
    COUNT(p.guest_check_id) AS total_pedidos
FROM 
    Pedidos AS p
JOIN 
    Restaurantes AS r ON p.restaurante_id_fk = r.restaurante_id
GROUP BY 
    r.loc_ref
ORDER BY 
    total_pedidos DESC;
"""

df_pedidos_por_restaurante = pd.read_sql(sql_query_join, cnxn)
display(df_pedidos_por_restaurante)

--- Análise: Contagem de pedidos por restaurante ---

/tmp/ipykernel_224/2395987233.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_pedidos_por_restaurante = pd.read_sql(sql_query_join, cnxn)

  nome_restaurante  total_pedidos
0        555 EE XX              1
1        777 CB CB              1
2        888 AA ZZ              1
3         99 CB CB              1
4        999 DD YY              1

In [ ]:
# Consulta 4: Verificar os itens de menu e detalhes que foram carregados
print("\n--- Verificação: Detalhes dos Pedidos Carregados ---")

sql_query_details = """
SELECT 
    p.numero_pedido,
    ld.numero_linha,
    ld.tipo_detalhe,
    dmi.numero_item_menu,
    ld.total_liquido
FROM 
    Linhas_Detalhe AS ld
JOIN
    Pedidos AS p ON ld.guest_check_id_fk = p.guest_check_id
JOIN
    Detalhe_ItemMenu AS dmi ON ld.id_detalhe_especifico = dmi.item_menu_detalhe_id
WHERE
    ld.tipo_detalhe = 'MENU_ITEM';
"""
df_detalhes = pd.read_sql(sql_query_details, cnxn)
display(df_detalhes)

### ✍️ Sua Vez: Faça Suas Próprias Consultas!

Sinta-se à vontade para usar a célula de código abaixo para escrever e executar suas próprias consultas SQL no Data Warehouse.

In [ ]:
# Escreva sua consulta SQL aqui dentro das três aspas
sua_query = """
SELECT * FROM Impostos_Pedidos;
"""

# Executa a consulta e exibe o resultado
try:
    df_resultado = pd.read_sql(sua_query, cnxn)
    display(df_resultado)
except Exception as e:
    print(f"Erro ao executar a consulta: {e}")

# Ao final de toda a exploração, é uma boa prática fechar a conexão.
# cnxn.close()
# print("\nConexão com o banco de dados fechada.")